@import "../../../../styles/main.scss";

.head {
  margin-top: 30px;

  &__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
  }

  &__subtitle {
    margin-top: 20px;

    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
  }

  &__button {
    margin-top: 20px;
    width: 100%;

    color: $color-blue;

    background-color: inherit;
    padding: 15px 35px;
    border-radius: 30px;
    border: 1px solid $color-blue;
  }
  
  &__injectors {
    margin-top: 20px;
  }
}