@import "../../styles/main.scss";

.header {
  position: sticky;
  padding: 10px 0;
  padding: 0 10px;


  z-index: 99 !important;
  
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__background {
    background-color: $color-blue;
  }

  &__logo {
    height: 40px;
    width: 40px;
    border: none;

    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    background-size: cover;
    
    &--default {
      background-image: url("../../images/icons/logo.svg");
    }
    
    &--white {
      background-image: url("../../images/icons/logo-white.svg");
    }
  }
  
  &__menu {
    height: 25px;
    width: 25px;
    border: none;

    background-repeat: no-repeat;
    background-color: inherit;
    
    &--default {
      background-image: url("../../images/icons/menu.svg");
    }
    
    &--white {
      height: 30px;
      width: 30px;
      background-image: url("../../images/icons/close-white.svg");
    }
  }
}