@import "../../styles/main.scss";

.header {
  padding: 10px;

  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 40px;
    width: 40px;
    border: none;

    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    background-size: cover;
    background-image: url("../../images/icons/logo.svg");
  }

  &__menu {
    height: 20px;
    width: 20px;
    border: none;

    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    background-size: cover;
    background-image: url("../../images/icons/menu.svg");
  }
}