@import "../../../../styles/main.scss";

.link {
  margin-top: 20px;
  width: 100%;

  color: $color-blue;

  background-color: inherit;
  padding: 15px 35px;
  border-radius: 30px;
  border: 1px solid $color-blue;

  &__title {
    text-decoration: none;
  }
}