@import "../../../../styles/main.scss";

.FAQ {
  margin-top: 30px;

  &__title {
    // font-family: Akzidenz-Grotesk Pro;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card {
    background-color: $color-white-blue;
    border-radius: 30px;
    padding: 20px;

    background-repeat: no-repeat;
    background-position: 90% 20%;


    &--question {
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
      text-align: left;
    }

    &--answer {
      margin-top: 30px;

      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
      text-align: left;
    }
  }
}