@import "../../../../styles/main.scss";

.FAQ {
  margin-top: 30px;

  &__title {
    // font-family: Akzidenz-Grotesk Pro;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card {
    background-color: $color-white-blue;
    border-radius: 30px;
    padding: 20px;

    background-repeat: no-repeat;
    background-position: 90% 20%;


    &--summary {
      all: unset;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
      text-align: left;
    }

    &--question {
      width: 210px;
    }

    &--button {
      width: 30px;
      height: 30px;
      border: none;

      background-color: inherit; 

      background-position: center;
      background-repeat: no-repeat;

      &--default {
        background-image: url("../../../../images/icons/plus.svg");
      }
      
      &--close {
        background-image: url("../../../../images/icons/close.svg");

      }
    }

    &--answer {
      margin-top: 30px;

      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
      text-align: left;
    }
  }
}